nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float:left;
    
  }
  
  nav li a {
    display: block;
    color: rgb(224, 215, 215);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    te;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  h1 {
    font-style: italic;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }
  